<style>
  @import "https://fonts.googleapis.com/css?family=Playball";
  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    background: #03a7e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-family: Playball, cursive;
    font-size: 7vh;
    margin-top: 5vh;
    color: white;
  }

  .blinking-eye {
    height: 30vh;
  }
  .blinking-eye__lid, .blinking-eye__rim, .blinking-eye__pupil {
    fill: white;
  }
  .blinking-eye__rim, .blinking-eye__pupil, .blinking-eye__lid-mask {
    transform-origin: center;
  }
  .blinking-eye__rim, .blinking-eye__pupil {
    animation: squeeze 2.4s infinite;
    animation-delay: -1.2s;
  }
  .blinking-eye__lid-mask {
    animation: blink 2.4s infinite;
    animation-delay: -1.2s;
  }
  @keyframes blink {
    70% {
      transform: none;
      animation-timing-function: ease-in;
    }
    76% {
      transform: scaleY(0);
    }
    100% {
      animation-timing-function: ease-out;
    }
  }
  @keyframes squeeze {
    70% {
      transform: none;
      animation-timing-function: ease-in;
    }
    76% {
      transform: scaleY(0.8);
    }
    100% {
      animation-timing-function: ease-out;
    }
  }
</style>
<svg
  xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1"
  viewbox="0 0 202.90662 135.52861"
  id="blinking-eye"
  class="blinking-eye">
  <defs>
    <path id="blinking-eye__outline" d="m 126.71955,115.09305 c 26.76653,-0.009 48.46008,-21.263555 48.46008,-47.478982 0,-26.215426 -21.69355,-47.469809 -48.46008,-47.478988 l 0,0 -52.730732,0 0,0.07181 c -26.020012,0.991777 -46.591907,21.939513 -46.591907,47.443086 0,25.50358 20.571895,46.451312 46.591907,47.443082 l 0,0.0718 52.730732,0 0,0 0,0 0,0 z" />
    <mask id="blinking-eye__mask">
      <rect width="100%" height="100%" fill="white"></rect>
      <use xlink:href="#blinking-eye__outline" class="blinking-eye__lid-mask" fill="black"/>
    </mask>
  </defs>
  <path class="blinking-eye__rim" d="m136.37062 0.1024404c36.75062 0.01309 66.536 30.3254356 66.536 67.7130816 0 37.387638-29.78538 67.699988 -66.536 67.713078l0 0 -72.39963 0 0 -0.10243C28.245344 134.01174 0 104.13672 0 67.764307 0 31.39189 28.245344 1.5168685 63.97099 0.1024404l0 -0.1024404 72.39963 0 0 0 0 0 0 0zm -10.97574 20.2831936 -49.843977 0 0 0.102441c -26.583453 1.331724 -47.830077 22.02468 -47.830077 47.429891 0 25.405213 21.145929 46.098164 47.830077 47.327444l0 0.10244 49.944667 0c27.38902 -0.5122 49.54189 -21.51247 49.54189 -47.429884 0 -25.917414 -22.05218 -46.91769 -49.44119 -47.429891l0 0z" />
  <ellipse class="blinking-eye__pupil" ry="29.786814" rx="30.002792" cy="67.910522" cx="101.96945" />
  <use xlink:href="#blinking-eye__outline" mask="url(#blinking-eye__mask)" class="blinking-eye__lid" />
</svg>

<h1>Coming soon...</h1>