@import "https://fonts.googleapis.com/css?family=Playball";
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #03a7e0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Playball, cursive;
  font-size: 7vh;
  margin-top: 5vh;
  color: white;
}

.blinking-eye {
  height: 30vh;
}
.blinking-eye__lid, .blinking-eye__rim, .blinking-eye__pupil {
  fill: white;
}
.blinking-eye__rim, .blinking-eye__pupil, .blinking-eye__lid-mask {
  transform-origin: center;
}
.blinking-eye__rim, .blinking-eye__pupil {
  animation: squeeze 2.4s infinite;
  animation-delay: -1.2s;
}
.blinking-eye__lid-mask {
  animation: blink 2.4s infinite;
  animation-delay: -1.2s;
}
@keyframes blink {
  70% {
    transform: none;
    animation-timing-function: ease-in;
  }
  76% {
    transform: scaleY(0);
  }
  100% {
    animation-timing-function: ease-out;
  }
}
@keyframes squeeze {
  70% {
    transform: none;
    animation-timing-function: ease-in;
  }
  76% {
    transform: scaleY(0.8);
  }
  100% {
    animation-timing-function: ease-out;
  }
}
